.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55); /* мягкое затемнение */
  z-index: 1;
}

.hero .container {
  z-index: 2;
}

.hero h1,
.hero p {
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.btn-outline-light:hover {
  background: #e3b04b;
  color: #000;
  border-color: #e3b04b;
  transition: all 0.3s ease;
}
